.container {
    max-width: map-get($grid, containerDefault);
    padding-left: calc(map-get($grid, gutter) / 2);
    padding-right: calc(map-get($grid, gutter) / 2);
	@include center;

    @include respBKP(xxl) {
        max-width: map-get($grid, containerXxl);
    }
    @include respBKP(xl) {
        max-width: map-get($grid, containerXl);
    }
    @include respBKP(lg) {
        max-width: map-get($grid, containerLg);
    }
    @include respBKP(md) {
        max-width: map-get($grid, containerMd);
    }
    @include respBKP(sm) {
        max-width: 100%;
    }
}
.containerHalf {
	max-width: calc(map-get($grid, containerDefault) / 2);

    @include respBKP(xxl) {
        max-width: calc(map-get($grid, containerXxl) / 2);
    }
    @include respBKP(xl) {
        max-width: calc(map-get($grid, containerXl) / 2);
    }
    @include respBKP(lg) {
        max-width: calc(map-get($grid, containerLg) / 2);
    }
    @include respBKP(md) {
        max-width: calc(map-get($grid, containerMd) / 2);
    }
    @include respBKP(sm) {
        max-width: 100%;
    }
	&--left {
		margin-left: auto;
		padding-left: calc(map-get($grid, gutter) / 2);
	}
}