.container {
    max-width: map-get($grid, containerDefault);
    padding-left: calc(map-get($grid, gutter) / 2);
    padding-right: calc(map-get($grid, gutter) / 2);
    @include center;

    @include breakpoint(xxl) {
        max-width: map-get($grid, containerXxl);
    }
    @include breakpoint(xl) {
        max-width: map-get($grid, containerXl);
    }
    @include breakpoint(lg) {
        max-width: map-get($grid, containerLg);
    }
    @include breakpoint(md) {
        max-width: map-get($grid, containerMd);
    }
    @include breakpoint(sm) {
        max-width: 100%;
    }
}
.containerHalf {
    max-width: calc(map-get($grid, containerDefault) / 2);

    @include breakpoint(xxl) {
        max-width: calc(map-get($grid, containerXxl) / 2);
    }
    @include breakpoint(xl) {
        max-width: calc(map-get($grid, containerXl) / 2);
    }
    @include breakpoint(lg) {
        max-width: calc(map-get($grid, containerLg) / 2);
    }
    @include breakpoint(md) {
        max-width: calc(map-get($grid, containerMd) / 2);
    }
    @include breakpoint(sm) {
        max-width: 100%;
    }
    &--left {
        margin-left: auto;
        padding-left: calc(map-get($grid, gutter) / 2);
    }
}
